.body{
  margin-top: 30px;
  margin-bottom: 20px;
}
.col-full{
  display:block;
  position: relative;
}
.not-null{
  position: absolute;
    top: 10px;
    right: 5px;
    color: #ed1846;
    font-size: 20px;
    z-index: 1;
}
.icon-form{
  background-size: 300px;
  width: 22px;
  height: 22px;
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 12px;
}
.col-full > input{
  border: 1px solid #cccccc;
    height: 40px;
    border-radius: 0;
    font-weight: normal;
    padding-top: 0;
    padding-bottom: 0;
    outline: none !important;
    box-shadow: none !important;
    padding-left: 42px !important;
    width: 100%;
    margin-bottom: 15px !important;
}
.title-box-login{
  text-align: center;
    font-size: 16px;
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
}
.col_full.action {
  text-align: center;
}
.col_full > button {
  width: 100%;
  margin-bottom: 20px !important;
  display: block;
  height: 40px;
  border: 1px solid #6f6a60;
  background: transparent;
  color: #6f6a60;
}
.col_full > button:hover {
  border: 1px solid #000000;
  background: #000000; 
  color: #fff;
}