.logo-brand{
    width: 239px;
    height: 248px;
}
.owl{
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.25s ease 0s;
    width: 1230px;
}
@media only screen and(max-width:767px) {
    .box .img-fluid{
        display: none;
    }
}